{%  extends 'home/base.html'%}

{% block content %}
    <div class="container d-flex">
        <div class="d-flex flex-column align-items-center">
        <h1 class="display-4 bank_text_color text-center">Банкомат<b>AI</b></h1>
        <h5 class="lead bank_secondary_color text-center"> Система сбора и анализа данных о банкоматах</h5>
        </div>

        <div class="content mt-6 mr-5 ml-5">
            <p>
                Банк заинтересован в том, чтобы облегчить клиентам доступ к инструментам работы с наличностью. В условиях
                ограниченности ресурсов банку интересно выбрать для установки те места, банкоматы в которых дадут
                наибольшую отдачу.
            </p>
            <p>
                На загруженность банкомата могут влиять самые разные факторы:
                близость банкомата к торговым центрам, автобусным остановкам, факторы связанные с сезонностью и прочие.
                В этих условиях человеку сложно все учитывать разом.
            </p>
            <p>
                БанкоматAI - это система, которая может прогнозировать загруженность банкоматов на основании данных о его
                местоположении, что позволяет оценить то насколько банкомат будет загружен, ещё до установки банкомата на место. Достаточно просто выбрать место предполагаемой установки банкомата и система оценит потенциальную нагрузку.
            </p>
        </div>
    </div>

{% endblock content %}